#----------------------------------------------------------------------
# common values
#----------------------------------------------------------------------
common_file_location="files"

#----------------------------------------------------------------------
# cs config values
#----------------------------------------------------------------------
moss_access_key="<your_moss_access_key>"
moss_secret_key="<your_moss_secret_key>"
cs_proxy_host="http://10.80.83.68:8077"
cs_host="http://sl.basho.com:80"

#----------------------------------------------------------------------
# swift config values
#----------------------------------------------------------------------
swift_auth_token="AUTH_tk55cd1617c30b4f84b98cb75d62d8a8a4"
swift_host="http://10.80.83.68:8077"

#----------------------------------------------------------------------
# cassandra config values
#----------------------------------------------------------------------


