#----------------------------------------------------------------------
# cs config values
#----------------------------------------------------------------------
moss_access_key="<your_moss_access_key>"
moss_secret_key="<your_moss_secret_key>"
cs_proxy_host="http://10.80.83.68:8077"
cs_host="http://sl.basho.com:80"

#----------------------------------------------------------------------
# swift config values
#----------------------------------------------------------------------


#----------------------------------------------------------------------
# cassandra config values
#----------------------------------------------------------------------


